@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
    background: #bbbbbf;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size:100%;
}

#top {
    color: #bbbbbf;
    background: #333;
}

.links {
    text-align:right;
}

#map {
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 10px black;
}

#controls {
    width: 100%;
}

table {
    font-size:80%;
    margin-top:1em;
}
td {
    width:2em;
    height:2em;
    vertical-align: middle;
    text-align: center;
}

/*
.fatal {
    box-shadow: inset 0 0 2px #f00;
    border: 1px red solid;
}

 too visually confusing, at the moment
*/
.val0 { background: #000; color:#fff; }
.val1 { background: #100; color:#fff; }
.val2 { background: #210; color:#fff; }
.val3 { background: #310; color:#fff; }
.val4 { background: #420; color:#fff; }
.val5 { background: #520; color:#fff; }
.val6 { background: #630; color:#fff; }
.val7 { background: #730; color:#fff; }
.val8 { background: #840; color:#fff; }
.val9 { background: #940; color:#fff; }
.val10 { background: #a50; color:#000; }
.val11 { background: #b50; color:#000; }
.val12 { background: #c60; color:#000; }
.val13 { background: #d60; color:#000; }
.val14 { background: #e70; color:#000; }
.val15 { background: #f80; color:#000; }
.val16 { background: #f90; color:#000; }
